/* Home.styles.module.css */
.container { 
  width: 30%;
  height: 100%;
  border: 1px solid #c3c3c3;
  /*flex-wrap: wrap;*/
  align-content: center;
}  

.cabeza {  
  border: 1px solid green;  
  display: flex;
  color: red; 
  padding: 5px 0 10px 0; 
  ;
}

.cart-section {   
  width: 70%; 
  border: 1px solid #c3c3c3;
  gap: 15px;
  position: fixed;
  top: 50%;
  right: 10%;
  transform: translateY(-40%); 
  display: flex;
  flex-wrap: wrap;    
  justify-content: space-around; 
  align-items: center; 
  padding: 15px; 
  min-height: 500px; 
  max-height: 500px; 
  min-width: 600px; 
  max-width: 600px;
  
}   


.cart-section .product-card:first-child{ 
  top: 60px; 
  left: 10px;
}

.list-product{ 
  height: auto;  
  display: flex;
  flex-wrap: wrap;    
  justify-content: space-around; 
  align-items: center; 
  padding: 15px;
}

aside{ 
  float: right;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px; 
  color: var(--secondary-color);
}


.total-price {
  font-weight: bold;
  margin-top: 10px; 
  float:right; 
  text-align: right; 
  width: 40px 
  height: 80%;
} 

.cart-icon {
  vertical-align: middle;
  margin-right: 5px; 
  float: left;
}
